head
	title Quotes 🤔
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='stylesheet', href='https://unpkg.com/sakura.css/css/sakura.css')
body
	br
	blockquote
		h2= quote
		h3
			em= author