:root{
  
  --background-color: #f2f5f8;
  --dark-purple: #3F1585;
  --light-purple: #9267EA;

  --background-color-dark: rgb(255, 255, 255);

  --background-division: #f2f5f8;

  --background-division2: #6139b1;

  --pfp-button: #a46afb;

  --purple: #343434;
/*   --purple2: #6139b1; */

  --purple2: #2626265e;

  --purple2dull: #a674f1;

  --font-color-low-contrast: #222831;

  --font-color-low-contrast-white: #dadbdb;

  --box-shadow-color: #b3b3b3;

  --font-color: #212429;

  --font-color-gray:#6c6c6f;

}

.dark-mode {

/*   --background-division: #292f38;

  --background-division2: #292f38; */
  --background-color: #1c1c1c;
  --background-color-dark: #404040;
  --box-shadow-color: #171b22;
  --background-hue: #495057;
  --background-division: #2828288a;
  --background-division2: #28282861;
  --font-color: #f2f5f8;
  --font-color-low-contrast: #dadbdb;
  --font-color-low-contrast-white: #dadbdb;
  --font-color-gray: #6c6c6f;
  --purple: #343434;
  --purple2: #2626265e;
}

body, html{
  padding: 0;
  margin: 0;
  font-family: var(--main-font);
  vertical-align: center;
  background-color: var(--background-color);
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);

}


body {
  /* height: 100vh; */
  min-height: stretch;
  display: flex;
  justify-content: center;
    

  touch-action: none;
  min-height:  -webkit-fill-available;
    
}
.screen {
    display: flex;
    flex-direction: column;
  
    width: 100vh;
    max-width: 100%;
   
}

.rows-Wrapper{
  display: flex;
  justify-content: center;
  color: var(--font-color-low-contrast);
}
.column-Wrapper{
  display: flex;
  flex-direction: column;
}
.column-Header{
 font-weight: 600;
 text-transform: capitalize;
}
.column-Item{
  padding: .1rem;
  font-size: .7em;
}

.hide{
  display: none;
}

.home-screen{
  
}



/* .next-lesson-div {
  display: flex;
  background: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  margin: 2em;
   
  text-align: center;

  border: 1em solid;
  border-width: 0.6em;
  background: linear-gradient(to left, var(--dark-purple), var(--light-purple));
  border-radius: 1.3em;
} */


.next-lesson-p-class {
  font-weight: bold;
  text-transform: capitalize; 
  font-size: 2em;
  color: var(--font-color-low-contrast);
}

.next-lesson-duration-p-class {
  font-weight: bold;
  text-transform: capitalize; 
  font-size: 0.9em;
  color: var(--font-color-low-contrast);
}

.next-lesson-classroom-p-class {
  font-weight: bold;
  text-transform: capitalize; 
  font-size: 1.5em;
  color: var(--font-color-low-contrast);
}

.next-lesson-div {
 
  display: flex;
  border: 0.4em solid var(--purple2);
  margin: 2em;
  border-radius: 1em;
  padding: 0.6em 1.2em;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
}


.timetable{
   overflow: auto;
}
.column-Times{
  /* min-width: 5rem; */
  white-space: nowrap;
}

.cool-container{

  padding: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  margin-bottom: 1em;

}

.dot {
  height: 2.5em;
  width: 2.5em;
  background-color: var(--font-color-low-contrast);
  border-radius: 30%;
  display: inline-block;
}

#profile-button-id {
  background-image: url("/user.png");
  background-repeat: no-repeat;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 4em;
  bottom: 0;
  width: 100%;
  background-color: var(--background-division);
}

.viiking-logo {
  width: 4em;
  height: 4em;
  margin: 1em;
  margin-left: 1.5em;
}

.header-hue {
  background-color: var(--background-division);
  height: 6em;
}
.CIBUSscreen{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    background: var(--background-color);
    width: 70vh;
    max-width: 100%;
    overflow: hidden;
    position: relative;


}
.CIBUSlogInBox{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding-top: 1rem;
  background-color: rgb(228, 228, 228);
  padding-bottom: 8vh;

  /* padding-bottom: env(safe-area-inset-bottom); */
  
}
.CIBUSlog-in-Btn{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #015fb8;
    color: rgb(228, 228, 228);
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border-radius: .5rem;
    margin-top: .5rem;
    width: 80%;
    min-width: 200px;
    max-width: 200px;
    height: 42px;
    cursor: pointer;
  
 }
  .CIBUSlog-in-Btn p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
.CIBUSsignInForm{
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.CIBUSinput{
  padding-left: .5rem;
  background-color: #f2f5f8;
  border: 0;
  border-radius: var(--border-radius); 
  font-size: .8rem;
  margin-top: var(--margin-between-elem);
  margin-bottom: var(--margin-between-elem);
  height: 35px;
}
